<!-- BEGIN CONTENT -->
<div class="col-md-9 col-sm-7">
    <h1>Reset password page</h1>
    <div class="content-page">
        <h3>Reset Password</h3>

        <section class="content">
            <div class="row">
                <div class="col-md-3 reset-passowrd-box">
                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b class="ecommerce">Old Password：</b> <input class="password-input" type="password" ng-model="oldpassword">
                                </li>
                                <li class="list-group-item">
                                    <b class="ecommerce">New Password：</b> <input class="password-input" type="password" ng-model="newpassword">
                                </li>
                                <li class="list-group-item">
                                    <b class="ecommerce">Confirm Your Password</b> <input class="password-input" type="password" ng-model="confirmpassword">
                                </li>
                            </ul>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        <button type="submit" class="reset-button" ng-click="resetPassword()">Reset</button>
    </div>
</div>
<!-- END CONTENT -->